{{- with .Values.gcp.secretStore -}}
{{- if .enabled -}}
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: gcp-secret-manager
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-3"
    "helm.sh/hook-delete-policy": before-hook-creation
#scopes:
#  - fileintransferservice
spec:
  type: secretstores.gcp.secretmanager
  version: v1
  metadata:
#    - name: type
#      value: service_account
    - name: project_id
      value: {{ .projectId }}
    # - name: private_key_id
    #   value: {{ .projectKeyId }}
#    - name: client_email
#      value: {{ .clientEmail }}
#    - name: client_id
#      value: {{ .clientId }}
    # - name: auth_uri
    #   value: {{ .authUri }}
    # - name: token_uri
    #   value: {{ .tokenUri }}
    # - name: auth_provider_x509_cert_url
    #   value: {{ .authProviderX509CertUrl }}
    # - name: client_x509_cert_url
    #   value: {{ .clientX509CertUrl }}
#    - name: private_key
#      secretKeyRef:
#        name: gcp-secret
#        key: secret_sa_private_key
      # value: |
      #   -----BEGIN PRIVATE KEY-----
      #   MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDDMCu0Ss34anTv
      #   GGeUWFHdkTtJBxhqoTUtjxDJLWrF7/im2LOanUTpgnF52hB8AfznY7f0kdm570BY
      #   6Ylw8l3TR7gIaOrdKjo8aYbphtBsh2hRxum6n+HDxAuthP5SUzTByp6UKSOomp0W
      #   FJLK5id/CP33u8ogi4tibVmL2hRtzpOWB2v+BsEMI1znYrrTiZGYPXaY0aabSoiR
      #   iIjCjvfXw4Qr1e4Sioq3octHr0ggiCUu0Tn976tABnPzjNuGU1Cvc1Yyyg3Km3rT
      #   xX5er2EDylW8bwlSP+33HWhsaCwlbn7Lx8ojO8EvetA+wAtPPNMDkcqlTBOZEKhI
      #   DREc/X8LAgMBAAECggEAHMZVsxMSEUy0Z2kcIADzNKxL5qSuo02Xttsv+NCCvKJ3
      #   cDVjKOiFd708uF9+7aEnZP9M57e2ttQAEvt+wRFh5ptclJTPBwLKKgzOkE/JGy7N
      #   IL0nyNT4JfGZXR/NlFpi3SzfOu1jrd/5R3+J8nKCoRY0xpg/IJQh3MVNHbJtL5Cy
      #   MCVC47iyIubGpoKAADWO8usLPNsDYOgTA926u3jIwR84XS9CrUaP8UT+OsoXUZzz
      #   blggHwfFLHrwB7fdJqQGTSGrCbi+2fWZNlPPYwFybFVwlsj7RnxDH3ViabwJCpo2
      #   rOWSD/j+0UNonH3bZ+e7+2jmnOYY32sIKQ8r4v90RQKBgQDrHRYc6FeBpmYMGErh
      #   Dpten1jO/Y0/DFgng3yLblWGKmmb1tFrbW4IpXJ3KZUgdY0IxI6Yo/iNoOOP1JrW
      #   23blbR1B0AAhrbkAu4H+xDtyJLELZD7a2NLWQ4HutT1OxaWMJkPNqyMN2PoXnnGK
      #   89P4BkZtiaGbrQa31KjuxIdefwKBgQDUhxtHdDyPOuV1Bc4ple/FgDaQ2SutO/JJ
      #   2FuLQSIHLN5JWmSod+a6EECXYsKsKQvNigdRXciie9pKDOdetC7rLp+T3ZFnBtBm
      #   x84f6iItwSXMi1159wVC87QD1z5K/P9np24Z0DXhE/aLBxNnGTrVULW1X+c0l8td
      #   XSopC3cxdQKBgGzNMQZ/nr8oueCu/TfZAp1vMDHZtBuRItpmRqRfksRbrDOp3Y/R
      #   PDJUHfx3CcPTokiEbVjFyKgB5E0THfR/6y2QqRFjqCvtsMdd/nJfbQMNZ8DVyyCL
      #   ZkYxR1eoF470d/+7VXU/1SD7YAC+Gd0rqNQGU2EtZ9Qa5hj8GJEl8V8RAoGBAI3f
      #   RxmTAZ5HncdZwb9HBRGdvk9BegOhweMD2FCEgVey3wyumAVSTSamFMg6OGQ+3k8u
      #   NiZd6cJ11UmbhZRVygBbVlGaFidliBckiHgLjxdmGXqLCjKR8OQ51VC/Dil27HRg
      #   c4It2NnQvsMeTRiE4h5mS3axd6FHN42y1KMjsUTFAoGAe2TYXowR1wR/VP0OSLsi
      #   0GGse3d98a1wXq1G77Zoi42DyZmgC5lKnqmBDe58DycRuWAL0UTwmtbpDI0T2o07
      #   8EJGj244hQAgQ6ZdLkrgL7oOeD8Mul2pY7TPrHm5DLWeOmAg0vdU5YP4mT/8kyAm
      #   LpXLbzpa/vaFKkAX3Cn553E=
      #   -----END PRIVATE KEY-----
{{- end -}} 
{{- end -}} 