apiVersion: v2
name: backup-orchestrator-service-helm
description: backup-orchestrator-service-helm

# A chart can be either an 'application' or a 'library' chart.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
version: 1.0.0

# This is the version number of the application being deployed.
appVersion: "1.0.0"